[Unit]
Description=Tabouret service

[Service]
ExecStart=/usr/bin/java -Dport={{ hostvars['localhost'].app_port }} -jar /home/ubuntu/tabouret-0.1.0-standalone.jar
