[Unit]
Description=Tabouret service

[Service]
ExecStart=/usr/bin/java -Dport={{ hostvars['localhost'].app_port }} -Dbase_url={{ hostvars['localhost'].app_base_path }} -jar /home/ubuntu/{{ hostvars['localhost'].app_name }}-{{ hostvars['localhost'].app_version }}-standalone.jar
